:root{
    font-family:  'Roboto', sans-serif;
    font-weight: bold;
}

body{
    margin: 0%;
}

.hder{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    width: 100%;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 72px;
    position: fixed;

}

.icon-search{
    display: flex;
    height: 72px;
    padding: 0px 48px;
    justify-content: center;
    align-items: center;
    gap: 48px;
    flex: 1 0 0;
}

.icon-logo{
    width: 120px;
}

.search{
    display: flex;
    flex-direction: row;
    border: solid 1px rgb(230, 230, 230);
    border-radius: 5px;
    padding: 6px 13px;
    align-items: center;
    gap: 13px;
    flex: 1 0 0;
}

.lens{
    width: 20px;
    height: 20px;
    padding: 11px;
    border: none;
}

.search-input{
    width: 45vw;
    height: 40px;
    border: none;
    
}

.nav-bar{
    display: flex;
    height: 72px;
    padding: 16px 48px 16px 0px;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.nav-bar_a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.discover{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: rgb(247, 108, 108);
}

.nav-bar_aimg{
    width: 50px;
}