.player-container{
    height: 120px;
    width: 1480px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position:fixed;
    padding: 20px 48px;
    justify-content: space-between;
    background-color: rgb(248, 248, 248);
    transform: translateY(-540px);
}

.player-container_hidden{
    visibility: hidden;
}

.music-data{
    display: flex;
    flex-direction: row;
    width: 203px;
    height: 80px;
    flex-shrink: 0;
}

.music-data img{
    height: 80px;
    width: 80px;
}

.music-data_info{
    margin-left: 24px;
    color: #000;
    /*font-family: IBM Plex Sans;*/
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.music-data_info-song{
    margin: 14px 0px 4px 0px;
}

.music-data_info-artist{
    margin: 0px 0px 14px 0px;
}

.player-controls{
    width: 652px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time-line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.time-line-progress{
    width: 320px;
    height: 6px;
    flex-shrink: 0;
    border-radius: 7px;
    background: #EF5466;
    margin: 0px 0px 0px 16px;
}

.time-line-line{
    width: 240px;
    height: 6px;
    flex-shrink: 0;
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.05);
    margin: 0px 16px 0px 0px;
}